version: '3'
services:
    app:
        build: ./docker/app
        volumes:
            - ../:/workspace:cached
        ports:
            - 80:80
        tty: true
        environment:
            APP_ENV: local
            PHP_EXTENSION_XDEBUG: 1
            APACHE_DOCUMENT_ROOT: /workspace/public
    db:
        image: 'mysql/mysql-server:8.0'
        ports:
            - '3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: 'root'
            MYSQL_ROOt_HOST: '%'
            MYSQL_DATABASE: 'app'
            MYSQL_USER: 'app'
            MYSQL_PASSWORD: 'app'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        networks:
            - app
    redis:
        image: redis:6-alpine
        networks:
            - app
        ports:
            - '6379:6379'
        healthcheck:
            test: ['CMD', 'redis-cli', '-h', 'redis', '-p', '6379', 'ping']
            interval: 10s
            timeout: 5s
            retries: 3
    mailhog:
        image: mailhog/mailhog:latest
        ports:
            - '1025:1025'
            - '8025:8025'
        networks:
            - app
